<div class="catalog">
    <div class="catalog__top">
        <ul class="catalog__tabs tabs">
            <li class="catalog__tab tab tab_active"><div>All Item</div></li>
            <li class="catalog__tab tab"><div>Art</div></li>
            <li class="catalog__tab tab"><div>Clebrities</div></li>
            <li class="catalog__tab tab"><div>Game</div></li>
            <li class="catalog__tab tab"><div>Music</div></li>
            <li class="catalog__tab tab"><div>Video</div></li>
            <li class="catalog__tab tab"><div>Crypto</div></li>
        </ul>
        <div class="catalog__btns">
            <button class="btn catalog__btn catalog__btn_filter"><img src="icons/filter.svg" alt="filter"> Filter</button>
            <button class="btn catalog__btn catalog__btn_newest"><img src="icons/newest.svg" alt="newest"> Newest</button>
        </div>
    </div>
    
    <div class="catalog__content tab__content tab__content_active">
        <div class="item-card">
            <div class="item-card__img">
                <img class="item-card__work" src="img/image1.webp" alt="image">
                <div class="item-card__favorite">
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.26859 7.21047C0.493577 4.79081 1.39933 2.02516 3.93962 1.20681C5.27586 0.7756 6.7508 1.02985 7.86168 1.86554C8.91261 1.05296 10.4417 0.778489 11.7765 1.20681C14.3168 2.02516 15.2283 4.79081 14.454 7.21047C13.2478 11.0458 7.86168 14 7.86168 14C7.86168 14 2.51527 11.0906 1.26859 7.21047Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>      
                </div>
                <a href="page-product.html" class="item-card__btn btn">
                    Place a bid
                    <img src="icons/bid.svg" alt="bid">
                </a>
            </div>
            <div class="item-card__content">
                <div class="item-card__top">
                    <a href="page-product.html" class="item-card__link">The Paradox Forge</a>
                    <div class="item-card__price">2.75 ETH</div>
                    
                </div>
                <div class="item-card__place-bit">
                    <div class="item-card__people">
                        <a href="#">
                            <img src="img/1.1.webp" alt="icon">
                        </a>
                        <a href="#">
                            <img src="img/2.webp" alt="icon">
                        </a>
                        <a href="#">
                            <img src="img/3.webp" alt="icon">
                        </a>
                    </div>
                    <div class="item-card__count-of-bits">10+ People place bit</div>
                </div>
                <div class="item-card__bottom">
                    <div class="item-card__highest-bit">
                        <img src="icons/highest-bit.svg" alt="highest-bit">
                        Highest bit <span>0.001 ETH</span>
                    </div>
                    <a href="#" class="item-card__category">Music</a>
                </div>
            </div>
        </div>

        <div class="item-card">
            <div class="item-card__img">
                <img class="item-card__work" src="img/image2.webp" alt="image">
                <div class="item-card__favorite">
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.26859 7.21047C0.493577 4.79081 1.39933 2.02516 3.93962 1.20681C5.27586 0.7756 6.7508 1.02985 7.86168 1.86554C8.91261 1.05296 10.4417 0.778489 11.7765 1.20681C14.3168 2.02516 15.2283 4.79081 14.454 7.21047C13.2478 11.0458 7.86168 14 7.86168 14C7.86168 14 2.51527 11.0906 1.26859 7.21047Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>      
                </div>
                <a href="page-product.html" class="item-card__btn btn">
                    Place a bid
                    <img src="icons/bid.svg" alt="bid">
                </a>
            </div>
            <div class="item-card__top">
                <a href="page-product.html" class="item-card__link">BSC x Cybertino NFT</a>
                <div class="item-card__price">2.75 ETH</div>
                
            </div>
            <div class="item-card__place-bit">
                <div class="item-card__people">
                    <a href="#">
                        <img src="img/1.1.webp" alt="icon">
                    </a>
                    <a href="#">
                        <img src="img/2.webp" alt="icon">
                    </a>
                    <a href="#">
                        <img src="img/3.webp" alt="icon">
                    </a>
                </div>
                <div class="item-card__count-of-bits">10+ People place bit</div>
            </div>
            <div class="item-card__bottom">
                <div class="item-card__highest-bit">
                    <img src="icons/highest-bit.svg" alt="highest-bit">
                    Highest bit <span>0.001 ETH</span>
                </div>
                <a href="#" class="item-card__category">Clebrities</a>
            </div>
        </div>

        <div class="item-card">
            <div class="item-card__img">
                <img class="item-card__work" src="img/image3.webp" alt="image">
                <div class="item-card__favorite">
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.26859 7.21047C0.493577 4.79081 1.39933 2.02516 3.93962 1.20681C5.27586 0.7756 6.7508 1.02985 7.86168 1.86554C8.91261 1.05296 10.4417 0.778489 11.7765 1.20681C14.3168 2.02516 15.2283 4.79081 14.454 7.21047C13.2478 11.0458 7.86168 14 7.86168 14C7.86168 14 2.51527 11.0906 1.26859 7.21047Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>      
                </div>
                <a href="page-product.html" class="item-card__btn btn">
                    Place a bid
                    <img src="icons/bid.svg" alt="bid">
                </a>
            </div>
            <div class="item-card__top">
                <a href="page-product.html" class="item-card__link">Fountain Firework Ice</a>
                <div class="item-card__price">2.75 ETH</div>
                
            </div>
            <div class="item-card__place-bit">
                <div class="item-card__people">
                    <a href="#">
                        <img src="img/1.1.webp" alt="icon">
                    </a>
                    <a href="#">
                        <img src="img/2.webp" alt="icon">
                    </a>
                    <a href="#">
                        <img src="img/3.webp" alt="icon">
                    </a>
                </div>
                <div class="item-card__count-of-bits">10+ People place bit</div>
            </div>
            <div class="item-card__bottom">
                <div class="item-card__highest-bit">
                    <img src="icons/highest-bit.svg" alt="highest-bit">
                    Highest bit <span>0.001 ETH</span>
                </div>
                <a href="#" class="item-card__category">Crypto</a>
            </div>
        </div>

        <div class="item-card">
            <div class="item-card__img">
                <img class="item-card__work" src="img/image4.webp" alt="image">
                <div class="item-card__favorite">
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.26859 7.21047C0.493577 4.79081 1.39933 2.02516 3.93962 1.20681C5.27586 0.7756 6.7508 1.02985 7.86168 1.86554C8.91261 1.05296 10.4417 0.778489 11.7765 1.20681C14.3168 2.02516 15.2283 4.79081 14.454 7.21047C13.2478 11.0458 7.86168 14 7.86168 14C7.86168 14 2.51527 11.0906 1.26859 7.21047Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>      
                </div>
                <a href="page-product.html" class="item-card__btn btn">
                    Place a bid
                    <img src="icons/bid.svg" alt="bid">
                </a>
            </div>
            <div class="item-card__top">
                <a href="page-product.html" class="item-card__link">Musical Sculpture</a>
                <div class="item-card__price">2.75 ETH</div>
                
            </div>
            <div class="item-card__place-bit">
                <div class="item-card__people">
                    <a href="#">
                        <img src="img/1.1.webp" alt="icon">
                    </a>
                    <a href="#">
                        <img src="img/2.webp" alt="icon">
                    </a>
                    <a href="#">
                        <img src="img/3.webp" alt="icon">
                    </a>
                </div>
                <div class="item-card__count-of-bits">10+ People place bit</div>
            </div>
            <div class="item-card__bottom">
                <div class="item-card__highest-bit">
                    <img src="icons/highest-bit.svg" alt="highest-bit">
                    Highest bit <span>0.001 ETH</span>
                </div>
                <a href="#" class="item-card__category">Music</a>
            </div>
        </div>

        <div class="item-card">
            <div class="item-card__img">
                <img class="item-card__work" src="img/image5.webp" alt="image">
                <div class="item-card__favorite">
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.26859 7.21047C0.493577 4.79081 1.39933 2.02516 3.93962 1.20681C5.27586 0.7756 6.7508 1.02985 7.86168 1.86554C8.91261 1.05296 10.4417 0.778489 11.7765 1.20681C14.3168 2.02516 15.2283 4.79081 14.454 7.21047C13.2478 11.0458 7.86168 14 7.86168 14C7.86168 14 2.51527 11.0906 1.26859 7.21047Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>      
                </div>
                <a href="page-product.html" class="item-card__btn btn">
                    Place a bid
                    <img src="icons/bid.svg" alt="bid">
                </a>
            </div>
            <div class="item-card__top">
                <a href="page-product.html" class="item-card__link">The Paradox Forge</a>
                <div class="item-card__price">4.85 ETH</div>
                
            </div>
            <div class="item-card__place-bit">
                <div class="item-card__people">
                    <a href="#">
                        <img src="img/1.1.webp" alt="icon">
                    </a>
                    <a href="#">
                        <img src="img/2.webp" alt="icon">
                    </a>
                    <a href="#">
                        <img src="img/3.webp" alt="icon">
                    </a>
                </div>
                <div class="item-card__count-of-bits">10+ People place bit</div>
            </div>
            <div class="item-card__bottom">
                <div class="item-card__highest-bit">
                    <img src="icons/highest-bit.svg" alt="highest-bit">
                    Highest bit <span>0.001 ETH</span>
                </div>
                <a href="#" class="item-card__category">Video</a>
            </div>
        </div>

        <div class="item-card">
            <div class="item-card__img">
                <img class="item-card__work" src="img/image6.webp" alt="image">
                <div class="item-card__favorite">
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.26859 7.21047C0.493577 4.79081 1.39933 2.02516 3.93962 1.20681C5.27586 0.7756 6.7508 1.02985 7.86168 1.86554C8.91261 1.05296 10.4417 0.778489 11.7765 1.20681C14.3168 2.02516 15.2283 4.79081 14.454 7.21047C13.2478 11.0458 7.86168 14 7.86168 14C7.86168 14 2.51527 11.0906 1.26859 7.21047Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>      
                </div>
                <a href="page-product.html" class="item-card__btn btn">
                    Place a bid
                    <img src="icons/bid.svg" alt="bid">
                </a>
            </div>
            <div class="item-card__top">
                <a href="page-product.html" class="item-card__link">BSC x Cybertino NFT</a>
                <div class="item-card__price">3.15 ETH</div>
                
            </div>
            <div class="item-card__place-bit">
                <div class="item-card__people">
                    <a href="#">
                        <img src="img/1.1.webp" alt="icon">
                    </a>
                    <a href="#">
                        <img src="img/2.webp" alt="icon">
                    </a>
                    <a href="#">
                        <img src="img/3.webp" alt="icon">
                    </a>
                </div>
                <div class="item-card__count-of-bits">10+ People place bit</div>
            </div>
            <div class="item-card__bottom">
                <div class="item-card__highest-bit">
                    <img src="icons/highest-bit.svg" alt="highest-bit">
                    Highest bit <span>0.001 ETH</span>
                </div>
                <a href="#" class="item-card__category">Clebrities</a>
            </div>
        </div>

        <div class="item-card">
            <div class="item-card__img">
                <img class="item-card__work" src="img/image7.webp" alt="image">
                <div class="item-card__favorite">
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.26859 7.21047C0.493577 4.79081 1.39933 2.02516 3.93962 1.20681C5.27586 0.7756 6.7508 1.02985 7.86168 1.86554C8.91261 1.05296 10.4417 0.778489 11.7765 1.20681C14.3168 2.02516 15.2283 4.79081 14.454 7.21047C13.2478 11.0458 7.86168 14 7.86168 14C7.86168 14 2.51527 11.0906 1.26859 7.21047Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>      
                </div>
                <a href="page-product.html" class="item-card__btn btn">
                    Place a bid
                    <img src="icons/bid.svg" alt="bid">
                </a>
            </div>
            <div class="item-card__top">
                <a href="page-product.html" class="item-card__link">Fountain Firework Ice</a>
                <div class="item-card__price">2.85 ETH</div>
                
            </div>
            <div class="item-card__place-bit">
                <div class="item-card__people">
                    <a href="#">
                        <img src="img/1.1.webp" alt="icon">
                    </a>
                    <a href="#">
                        <img src="img/2.webp" alt="icon">
                    </a>
                    <a href="#">
                        <img src="img/3.webp" alt="icon">
                    </a>
                </div>
                <div class="item-card__count-of-bits">10+ People place bit</div>
            </div>
            <div class="item-card__bottom">
                <div class="item-card__highest-bit">
                    <img src="icons/highest-bit.svg" alt="highest-bit">
                    Highest bit <span>0.001 ETH</span>
                </div>
                <a href="#" class="item-card__category">Crypto</a>
            </div>
        </div>

        <div class="item-card">
            <div class="item-card__img">
                <img class="item-card__work" src="img/image8.webp" alt="image">
                <div class="item-card__favorite">
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.26859 7.21047C0.493577 4.79081 1.39933 2.02516 3.93962 1.20681C5.27586 0.7756 6.7508 1.02985 7.86168 1.86554C8.91261 1.05296 10.4417 0.778489 11.7765 1.20681C14.3168 2.02516 15.2283 4.79081 14.454 7.21047C13.2478 11.0458 7.86168 14 7.86168 14C7.86168 14 2.51527 11.0906 1.26859 7.21047Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>      
                </div>
                <a href="page-product.html" class="item-card__btn btn">
                    Place a bid
                    <img src="icons/bid.svg" alt="bid">
                </a>
            </div>
            <div class="item-card__top">
                <a href="page-product.html" class="item-card__link">Musical Sculpture</a>
                <div class="item-card__price">3.85 ETH</div>
                
            </div>
            <div class="item-card__place-bit">
                <div class="item-card__people">
                    <a href="#">
                        <img src="img/1.1.webp" alt="icon">
                    </a>
                    <a href="#">
                        <img src="img/2.webp" alt="icon">
                    </a>
                    <a href="#">
                        <img src="img/3.webp" alt="icon">
                    </a>
                </div>
                <div class="item-card__count-of-bits">10+ People place bit</div>
            </div>
            <div class="item-card__bottom">
                <div class="item-card__highest-bit">
                    <img src="icons/highest-bit.svg" alt="highest-bit">
                    Highest bit <span>0.001 ETH</span>
                </div>
                <a href="#" class="item-card__category">Game</a>
            </div>
        </div>

        <div class="item-card">
            <div class="item-card__img">
                <img class="item-card__work" src="img/pawel-czerwinski.webp" alt="image">
                <div class="item-card__favorite">
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.26859 7.21047C0.493577 4.79081 1.39933 2.02516 3.93962 1.20681C5.27586 0.7756 6.7508 1.02985 7.86168 1.86554C8.91261 1.05296 10.4417 0.778489 11.7765 1.20681C14.3168 2.02516 15.2283 4.79081 14.454 7.21047C13.2478 11.0458 7.86168 14 7.86168 14C7.86168 14 2.51527 11.0906 1.26859 7.21047Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>      
                </div>
                <a href="page-product.html" class="item-card__btn btn">
                    Place a bid
                    <img src="icons/bid.svg" alt="bid">
                </a>
            </div>
            <div class="item-card__top">
                <a href="page-product.html" class="item-card__link">The Paradox Forge</a>
                <div class="item-card__price">2.75 ETH</div>
                
            </div>
            <div class="item-card__place-bit">
                <div class="item-card__people">
                    <a href="#">
                        <img src="img/1.1.webp" alt="icon">
                    </a>
                    <a href="#">
                        <img src="img/2.webp" alt="icon">
                    </a>
                    <a href="#">
                        <img src="img/3.webp" alt="icon">
                    </a>
                </div>
                <div class="item-card__count-of-bits">10+ People place bit</div>
            </div>
            <div class="item-card__bottom">
                <div class="item-card__highest-bit">
                    <img src="icons/highest-bit.svg" alt="highest-bit">
                    Highest bit <span>0.001 ETH</span>
                </div>
                <a href="#" class="item-card__category">Music</a>
            </div>
        </div>

        <div class="item-card">
            <div class="item-card__img">
                <img class="item-card__work" src="img/vlad-panov-odXpmPVyg98-unsplash.webp" alt="image">
                <div class="item-card__favorite">
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.26859 7.21047C0.493577 4.79081 1.39933 2.02516 3.93962 1.20681C5.27586 0.7756 6.7508 1.02985 7.86168 1.86554C8.91261 1.05296 10.4417 0.778489 11.7765 1.20681C14.3168 2.02516 15.2283 4.79081 14.454 7.21047C13.2478 11.0458 7.86168 14 7.86168 14C7.86168 14 2.51527 11.0906 1.26859 7.21047Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>      
                </div>
                <a href="page-product.html" class="item-card__btn btn">
                    Place a bid
                    <img src="icons/bid.svg" alt="bid">
                </a>
            </div>
            <div class="item-card__top">
                <a href="page-product.html" class="item-card__link">Landscape</a>
                <div class="item-card__price">3.85 ETH</div>
                
            </div>
            <div class="item-card__place-bit">
                <div class="item-card__people">
                    <a href="#">
                        <img src="img/1.1.webp" alt="icon">
                    </a>
                    <a href="#">
                        <img src="img/2.webp" alt="icon">
                    </a>
                    <a href="#">
                        <img src="img/3.webp" alt="icon">
                    </a>
                </div>
                <div class="item-card__count-of-bits">10+ People place bit</div>
            </div>
            <div class="item-card__bottom">
                <div class="item-card__highest-bit">
                    <img src="icons/highest-bit.svg" alt="highest-bit">
                    Highest bit <span>0.001 ETH</span>
                </div>
                <a href="#" class="item-card__category">Art</a>
            </div>
        </div>
    </div>

    <div class="catalog__content tab__content">        
        <div class="item-card">
            <div class="item-card__img">
                <img class="item-card__work" src="img/vlad-panov-odXpmPVyg98-unsplash.webp" alt="image">
                <div class="item-card__favorite">
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.26859 7.21047C0.493577 4.79081 1.39933 2.02516 3.93962 1.20681C5.27586 0.7756 6.7508 1.02985 7.86168 1.86554C8.91261 1.05296 10.4417 0.778489 11.7765 1.20681C14.3168 2.02516 15.2283 4.79081 14.454 7.21047C13.2478 11.0458 7.86168 14 7.86168 14C7.86168 14 2.51527 11.0906 1.26859 7.21047Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>      
                </div>
                <a href="page-product.html" class="item-card__btn btn">
                    Place a bid
                    <img src="icons/bid.svg" alt="bid">
                </a>
            </div>
            <div class="item-card__top">
                <a href="page-product.html" class="item-card__link">Landscape</a>
                <div class="item-card__price">3.85 ETH</div>
                
            </div>
            <div class="item-card__place-bit">
                <div class="item-card__people">
                    <a href="#">
                        <img src="img/1.1.webp" alt="icon">
                    </a>
                    <a href="#">
                        <img src="img/2.webp" alt="icon">
                    </a>
                    <a href="#">
                        <img src="img/3.webp" alt="icon">
                    </a>
                </div>
                <div class="item-card__count-of-bits">10+ People place bit</div>
            </div>
            <div class="item-card__bottom">
                <div class="item-card__highest-bit">
                    <img src="icons/highest-bit.svg" alt="highest-bit">
                    Highest bit <span>0.001 ETH</span>
                </div>
                <a href="#" class="item-card__category">Art</a>
            </div>
        </div>
    </div>

    <div class="catalog__content tab__content">

        <div class="item-card">
            <div class="item-card__img">
                <img class="item-card__work" src="img/image2.webp" alt="image">
                <div class="item-card__favorite">
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.26859 7.21047C0.493577 4.79081 1.39933 2.02516 3.93962 1.20681C5.27586 0.7756 6.7508 1.02985 7.86168 1.86554C8.91261 1.05296 10.4417 0.778489 11.7765 1.20681C14.3168 2.02516 15.2283 4.79081 14.454 7.21047C13.2478 11.0458 7.86168 14 7.86168 14C7.86168 14 2.51527 11.0906 1.26859 7.21047Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>      
                </div>
                <a href="page-product.html" class="item-card__btn btn">
                    Place a bid
                    <img src="icons/bid.svg" alt="bid">
                </a>
            </div>
            <div class="item-card__top">
                <a href="page-product.html" class="item-card__link">BSC x Cybertino NFT</a>
                <div class="item-card__price">2.75 ETH</div>
                
            </div>
            <div class="item-card__place-bit">
                <div class="item-card__people">
                    <a href="#">
                        <img src="img/1.1.webp" alt="icon">
                    </a>
                    <a href="#">
                        <img src="img/2.webp" alt="icon">
                    </a>
                    <a href="#">
                        <img src="img/3.webp" alt="icon">
                    </a>
                </div>
                <div class="item-card__count-of-bits">10+ People place bit</div>
            </div>
            <div class="item-card__bottom">
                <div class="item-card__highest-bit">
                    <img src="icons/highest-bit.svg" alt="highest-bit">
                    Highest bit <span>0.001 ETH</span>
                </div>
                <a href="#" class="item-card__category">Clebrities</a>
            </div>
        </div>

        <div class="item-card">
            <div class="item-card__img">
                <img class="item-card__work" src="img/image6.webp" alt="image">
                <div class="item-card__favorite">
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.26859 7.21047C0.493577 4.79081 1.39933 2.02516 3.93962 1.20681C5.27586 0.7756 6.7508 1.02985 7.86168 1.86554C8.91261 1.05296 10.4417 0.778489 11.7765 1.20681C14.3168 2.02516 15.2283 4.79081 14.454 7.21047C13.2478 11.0458 7.86168 14 7.86168 14C7.86168 14 2.51527 11.0906 1.26859 7.21047Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>      
                </div>
                <a href="page-product.html" class="item-card__btn btn">
                    Place a bid
                    <img src="icons/bid.svg" alt="bid">
                </a>
            </div>
            <div class="item-card__top">
                <a href="page-product.html" class="item-card__link">BSC x Cybertino NFT</a>
                <div class="item-card__price">3.15 ETH</div>
                
            </div>
            <div class="item-card__place-bit">
                <div class="item-card__people">
                    <a href="#">
                        <img src="img/1.1.webp" alt="icon">
                    </a>
                    <a href="#">
                        <img src="img/2.webp" alt="icon">
                    </a>
                    <a href="#">
                        <img src="img/3.webp" alt="icon">
                    </a>
                </div>
                <div class="item-card__count-of-bits">10+ People place bit</div>
            </div>
            <div class="item-card__bottom">
                <div class="item-card__highest-bit">
                    <img src="icons/highest-bit.svg" alt="highest-bit">
                    Highest bit <span>0.001 ETH</span>
                </div>
                <a href="#" class="item-card__category">Clebrities</a>
            </div>
        </div>
    </div>

    <div class="catalog__content tab__content">
        <div class="item-card">
            <div class="item-card__img">
                <img class="item-card__work" src="img/image8.webp" alt="image">
                <div class="item-card__favorite">
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.26859 7.21047C0.493577 4.79081 1.39933 2.02516 3.93962 1.20681C5.27586 0.7756 6.7508 1.02985 7.86168 1.86554C8.91261 1.05296 10.4417 0.778489 11.7765 1.20681C14.3168 2.02516 15.2283 4.79081 14.454 7.21047C13.2478 11.0458 7.86168 14 7.86168 14C7.86168 14 2.51527 11.0906 1.26859 7.21047Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>      
                </div>
                <a href="page-product.html" class="item-card__btn btn">
                    Place a bid
                    <img src="icons/bid.svg" alt="bid">
                </a>
            </div>
            <div class="item-card__top">
                <a href="page-product.html" class="item-card__link">Musical Sculpture</a>
                <div class="item-card__price">3.85 ETH</div>
                
            </div>
            <div class="item-card__place-bit">
                <div class="item-card__people">
                    <a href="#">
                        <img src="img/1.1.webp" alt="icon">
                    </a>
                    <a href="#">
                        <img src="img/2.webp" alt="icon">
                    </a>
                    <a href="#">
                        <img src="img/3.webp" alt="icon">
                    </a>
                </div>
                <div class="item-card__count-of-bits">10+ People place bit</div>
            </div>
            <div class="item-card__bottom">
                <div class="item-card__highest-bit">
                    <img src="icons/highest-bit.svg" alt="highest-bit">
                    Highest bit <span>0.001 ETH</span>
                </div>
                <a href="#" class="item-card__category">Game</a>
            </div>
        </div>
    </div>

    <div class="catalog__content tab__content">
        <div class="item-card">
            <div class="item-card__img">
                <img class="item-card__work" src="img/image1.webp" alt="image">
                <div class="item-card__favorite">
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.26859 7.21047C0.493577 4.79081 1.39933 2.02516 3.93962 1.20681C5.27586 0.7756 6.7508 1.02985 7.86168 1.86554C8.91261 1.05296 10.4417 0.778489 11.7765 1.20681C14.3168 2.02516 15.2283 4.79081 14.454 7.21047C13.2478 11.0458 7.86168 14 7.86168 14C7.86168 14 2.51527 11.0906 1.26859 7.21047Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>      
                </div>
                <a href="page-product.html" class="item-card__btn btn">
                    Place a bid
                    <img src="icons/bid.svg" alt="bid">
                </a>
            </div>
            <div class="item-card__content">
                <div class="item-card__top">
                    <a href="page-product.html" class="item-card__link">The Paradox Forge</a>
                    <div class="item-card__price">2.75 ETH</div>
                    
                </div>
                <div class="item-card__place-bit">
                    <div class="item-card__people">
                        <a href="#">
                            <img src="img/1.1.webp" alt="icon">
                        </a>
                        <a href="#">
                            <img src="img/2.webp" alt="icon">
                        </a>
                        <a href="#">
                            <img src="img/3.webp" alt="icon">
                        </a>
                    </div>
                    <div class="item-card__count-of-bits">10+ People place bit</div>
                </div>
                <div class="item-card__bottom">
                    <div class="item-card__highest-bit">
                        <img src="icons/highest-bit.svg" alt="highest-bit">
                        Highest bit <span>0.001 ETH</span>
                    </div>
                    <a href="#" class="item-card__category">Music</a>
                </div>
            </div>
        </div>

        <div class="item-card">
            <div class="item-card__img">
                <img class="item-card__work" src="img/image4.webp" alt="image">
                <div class="item-card__favorite">
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.26859 7.21047C0.493577 4.79081 1.39933 2.02516 3.93962 1.20681C5.27586 0.7756 6.7508 1.02985 7.86168 1.86554C8.91261 1.05296 10.4417 0.778489 11.7765 1.20681C14.3168 2.02516 15.2283 4.79081 14.454 7.21047C13.2478 11.0458 7.86168 14 7.86168 14C7.86168 14 2.51527 11.0906 1.26859 7.21047Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>      
                </div>
                <a href="page-product.html" class="item-card__btn btn">
                    Place a bid
                    <img src="icons/bid.svg" alt="bid">
                </a>
            </div>
            <div class="item-card__top">
                <a href="page-product.html" class="item-card__link">Musical Sculpture</a>
                <div class="item-card__price">2.75 ETH</div>
                
            </div>
            <div class="item-card__place-bit">
                <div class="item-card__people">
                    <a href="#">
                        <img src="img/1.1.webp" alt="icon">
                    </a>
                    <a href="#">
                        <img src="img/2.webp" alt="icon">
                    </a>
                    <a href="#">
                        <img src="img/3.webp" alt="icon">
                    </a>
                </div>
                <div class="item-card__count-of-bits">10+ People place bit</div>
            </div>
            <div class="item-card__bottom">
                <div class="item-card__highest-bit">
                    <img src="icons/highest-bit.svg" alt="highest-bit">
                    Highest bit <span>0.001 ETH</span>
                </div>
                <a href="#" class="item-card__category">Music</a>
            </div>
        </div>

        <div class="item-card">
            <div class="item-card__img">
                <img class="item-card__work" src="img/pawel-czerwinski.webp" alt="image">
                <div class="item-card__favorite">
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.26859 7.21047C0.493577 4.79081 1.39933 2.02516 3.93962 1.20681C5.27586 0.7756 6.7508 1.02985 7.86168 1.86554C8.91261 1.05296 10.4417 0.778489 11.7765 1.20681C14.3168 2.02516 15.2283 4.79081 14.454 7.21047C13.2478 11.0458 7.86168 14 7.86168 14C7.86168 14 2.51527 11.0906 1.26859 7.21047Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>      
                </div>
                <a href="page-product.html" class="item-card__btn btn">
                    Place a bid
                    <img src="icons/bid.svg" alt="bid">
                </a>
            </div>
            <div class="item-card__top">
                <a href="page-product.html" class="item-card__link">The Paradox Forge</a>
                <div class="item-card__price">2.75 ETH</div>
                
            </div>
            <div class="item-card__place-bit">
                <div class="item-card__people">
                    <a href="#">
                        <img src="img/1.1.webp" alt="icon">
                    </a>
                    <a href="#">
                        <img src="img/2.webp" alt="icon">
                    </a>
                    <a href="#">
                        <img src="img/3.webp" alt="icon">
                    </a>
                </div>
                <div class="item-card__count-of-bits">10+ People place bit</div>
            </div>
            <div class="item-card__bottom">
                <div class="item-card__highest-bit">
                    <img src="icons/highest-bit.svg" alt="highest-bit">
                    Highest bit <span>0.001 ETH</span>
                </div>
                <a href="#" class="item-card__category">Music</a>
            </div>
        </div>
    </div>

    <div class="catalog__content tab__content">
        <div class="item-card">
            <div class="item-card__img">
                <img class="item-card__work" src="img/image5.webp" alt="image">
                <div class="item-card__favorite">
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.26859 7.21047C0.493577 4.79081 1.39933 2.02516 3.93962 1.20681C5.27586 0.7756 6.7508 1.02985 7.86168 1.86554C8.91261 1.05296 10.4417 0.778489 11.7765 1.20681C14.3168 2.02516 15.2283 4.79081 14.454 7.21047C13.2478 11.0458 7.86168 14 7.86168 14C7.86168 14 2.51527 11.0906 1.26859 7.21047Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>      
                </div>
                <a href="page-product.html" class="item-card__btn btn">
                    Place a bid
                    <img src="icons/bid.svg" alt="bid">
                </a>
            </div>
            <div class="item-card__top">
                <a href="page-product.html" class="item-card__link">The Paradox Forge</a>
                <div class="item-card__price">4.85 ETH</div>
                
            </div>
            <div class="item-card__place-bit">
                <div class="item-card__people">
                    <a href="#">
                        <img src="img/1.1.webp" alt="icon">
                    </a>
                    <a href="#">
                        <img src="img/2.webp" alt="icon">
                    </a>
                    <a href="#">
                        <img src="img/3.webp" alt="icon">
                    </a>
                </div>
                <div class="item-card__count-of-bits">10+ People place bit</div>
            </div>
            <div class="item-card__bottom">
                <div class="item-card__highest-bit">
                    <img src="icons/highest-bit.svg" alt="highest-bit">
                    Highest bit <span>0.001 ETH</span>
                </div>
                <a href="#" class="item-card__category">Video</a>
            </div>
        </div>
    </div>

    <div class="catalog__content tab__content">
        <div class="item-card">
            <div class="item-card__img">
                <img class="item-card__work" src="img/image3.webp" alt="image">
                <div class="item-card__favorite">
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.26859 7.21047C0.493577 4.79081 1.39933 2.02516 3.93962 1.20681C5.27586 0.7756 6.7508 1.02985 7.86168 1.86554C8.91261 1.05296 10.4417 0.778489 11.7765 1.20681C14.3168 2.02516 15.2283 4.79081 14.454 7.21047C13.2478 11.0458 7.86168 14 7.86168 14C7.86168 14 2.51527 11.0906 1.26859 7.21047Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>      
                </div>
                <a href="page-product.html" class="item-card__btn btn">
                    Place a bid
                    <img src="icons/bid.svg" alt="bid">
                </a>
            </div>
            <div class="item-card__top">
                <a href="page-product.html" class="item-card__link">Fountain Firework Ice</a>
                <div class="item-card__price">2.75 ETH</div>
                
            </div>
            <div class="item-card__place-bit">
                <div class="item-card__people">
                    <a href="#">
                        <img src="img/1.1.webp" alt="icon">
                    </a>
                    <a href="#">
                        <img src="img/2.webp" alt="icon">
                    </a>
                    <a href="#">
                        <img src="img/3.webp" alt="icon">
                    </a>
                </div>
                <div class="item-card__count-of-bits">10+ People place bit</div>
            </div>
            <div class="item-card__bottom">
                <div class="item-card__highest-bit">
                    <img src="icons/highest-bit.svg" alt="highest-bit">
                    Highest bit <span>0.001 ETH</span>
                </div>
                <a href="#" class="item-card__category">Crypto</a>
            </div>
        </div>

        <div class="item-card">
            <div class="item-card__img">
                <img class="item-card__work" src="img/image7.webp" alt="image">
                <div class="item-card__favorite">
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.26859 7.21047C0.493577 4.79081 1.39933 2.02516 3.93962 1.20681C5.27586 0.7756 6.7508 1.02985 7.86168 1.86554C8.91261 1.05296 10.4417 0.778489 11.7765 1.20681C14.3168 2.02516 15.2283 4.79081 14.454 7.21047C13.2478 11.0458 7.86168 14 7.86168 14C7.86168 14 2.51527 11.0906 1.26859 7.21047Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>      
                </div>
                <a href="page-product.html" class="item-card__btn btn">
                    Place a bid
                    <img src="icons/bid.svg" alt="bid">
                </a>
            </div>
            <div class="item-card__top">
                <a href="page-product.html" class="item-card__link">Fountain Firework Ice</a>
                <div class="item-card__price">2.85 ETH</div>
                
            </div>
            <div class="item-card__place-bit">
                <div class="item-card__people">
                    <a href="#">
                        <img src="img/1.1.webp" alt="icon">
                    </a>
                    <a href="#">
                        <img src="img/2.webp" alt="icon">
                    </a>
                    <a href="#">
                        <img src="img/3.webp" alt="icon">
                    </a>
                </div>
                <div class="item-card__count-of-bits">10+ People place bit</div>
            </div>
            <div class="item-card__bottom">
                <div class="item-card__highest-bit">
                    <img src="icons/highest-bit.svg" alt="highest-bit">
                    Highest bit <span>0.001 ETH</span>
                </div>
                <a href="#" class="item-card__category">Crypto</a>
            </div>
        </div>
    </div>
</div>