<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="title" content="Cryptmax">
<meta name="description" content="Start a Crypto Collecting
and Sell Your Artwork">
<meta property="og:type" content="website">
<meta property="og:url" content="https://metatags.io/">
<meta property="og:title" content="Cryptmax">
<meta property="og:description" content="Start a Crypto Collecting and Sell Your Artwork">
<meta property="og:image" content="https://ilyalarin95.github.io/cryptmax/img/pawel-czerwinski.jpg">